[Unit]
Description=miner validator instance
After=network.target

[Service]
Type=simple
ExecStart=/opt/miner/bin/miner foreground
ExecStop=/opt/miner/bin/miner stop
User=helium
PIDFile=/opt/miner/miner.pid
Environment=HOME=/opt/miner
Environment=RUNNER_LOG_DIR=/var/log/miner/
Environment=ERL_CRASH_DUMP=/var/log/miner
Environment=RELX_OUT_FILE_PATH="/tmp"
Environment=BASE_DIR=/var/data/miner
Environment=LOG_ROOT=/opt/miner/log
Environment=UPDATE_DIR=/opt/miner/update
LimitNOFILE=128000
LimitNPROC=128000
Restart=always

[Install]
WantedBy=multi-user.target
